@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  line-height: 1;
  background-color: #161616;
  color: #F2F2F2;
  cursor: none;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  background: #8D8D8D;
}

.cursor {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  pointer-events: none;
  opacity: 0;
  --duration: 0.4s;
}

.cursorFollow {
  border: 1px solid white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  pointer-events: none;
  transition: var(--duration) width, var(--duration) height, var(--duration) background;
  mix-blend-mode: difference;
  opacity: 0;
}
.cursorFollow.active {
  background: #fff;
  --size: 90px;
  width: var(--size);
  height: var(--size);
  transition: var(--duration) width, var(--duration) height, var(--duration) background;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1268px;
  padding: 0 2rem;
  margin: 0 auto;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1rem;
}
.header .item-menu {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.header .item-menu h2 {
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: -0.5rem;
  font-family: "Cormorant", serif;
}

.banner {
  text-align: center;
  padding: 15rem 0 8rem;
}
.banner img {
  max-width: 1440px;
  width: 100%;
}
.banner-title {
  position: absolute;
  z-index: 1;
  top: 12rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26rem;
  line-height: 25rem;
  font-family: "Cormorant", serif;
  color: white;
  font-weight: 500;
}
.banner-menu {
  padding-top: 8rem;
}
.banner-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-menu .banner-items {
  padding: 0 5rem;
}
.banner-menu .banner-items h2 {
  font-size: 1.8rem;
  color: #D6D0CE;
  letter-spacing: 0.5rem;
  opacity: 0.5;
  text-transform: uppercase;
}
.banner-menu .banner-items p {
  font-size: 7rem;
  font-family: "Cormorant", serif;
  font-weight: 500;
}

.editor {
  position: relative;
}
.editor-img {
  position: relative;
  z-index: 1;
  margin: 13rem 0;
  max-width: 1029px;
  width: 100%;
}
.editor-right {
  float: right;
}
.editor-right h1 {
  font-size: 23rem;
  color: #8D8D8D;
  position: absolute;
  z-index: -1;
  transform: translateY(-2rem);
}
.editor .img-last {
  position: relative;
}
.editor .img-last span {
  position: absolute;
  font-size: 18rem;
  top: 50%;
  right: -5%;
  z-index: -1;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: #F2F2F2;
  color: transparent;
}

.content-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 88.4rem;
  padding: 5rem;
  grid-gap: 5rem;
  position: relative;
}
.content-img .img-items {
  max-width: 57.524rem;
  width: 100%;
  height: 88.6rem;
}
.content-img .img-items:first-child {
  margin-top: 50rem;
}
.content-img .img-items:nth-child(2) {
  margin-left: 5rem;
}
.content-img .img-items:nth-child(3) {
  margin-top: 10rem;
  grid-column: 2/4;
}
.content .content-title {
  position: absolute;
  font-size: 21rem;
  left: 10%;
  top: 5%;
  line-height: 29rem;
}
.content .content-title span:nth-child(2) {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: #F2F2F2;
}

.review {
  text-align: center;
  padding: 45rem 0;
  position: relative;
  overflow-x: hidden;
}
.review-title {
  font-size: 26rem;
  line-height: 30.6rem;
}
.review-title:first-child, .review-title:nth-child(2) {
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.02rem #F2F2F2;
  color: transparent;
}
.review-img {
  width: 540.9px;
  height: 633.11px;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}
.review-img:first-child {
  left: -30rem;
  transform: translateY(-50%) rotate(-3deg);
}
.review-img:nth-child(2) {
  left: 50%;
  transform: translate(-50%, -50%) rotate(6.85deg);
}
.review-img:last-child {
  right: -30rem;
  transform: translateY(-50%) rotate(-3deg);
}

.footer {
  text-align: center;
  position: relative;
  padding-bottom: 20rem;
}
.footer .footer-img-items {
  width: 356.97px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 439.17px;
}
.footer .footer-img-items:first-child {
  opacity: 0.4;
  left: 15rem;
  transform: rotate(6.92deg);
}
.footer .footer-img-items:nth-child(2) {
  transform: rotate(-4.05deg);
  left: 45rem;
  top: 3rem;
}
.footer .footer-img-items:last-child {
  opacity: 0.25;
  transform: rotate(-8.2deg);
  top: 8rem;
  left: 75rem;
}
.footer-title {
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
  font-size: 15.4rem;
}

img:not(.banner-img) {
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  filter: #161616;
  filter: grayscale(1);
  -webkit-transition: all 0.4s ease-in-out;
}
img:not(.banner-img):hover {
  filter: none;
  filter: grayscale(0);
  box-shadow: 0 20px 20px rgba(32, 32, 32, 0.19), 0 10px 10px rgba(26, 25, 25, 0.23);
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading hr {
  height: 1px;
  width: 80%;
  background-color: #161616;
}
.loading span {
  position: relative;
  font-size: 5rem;
  color: #161616;
  font-weight: bold;
  letter-spacing: 25px;
  -webkit-animation: loading08-parent 5s infinite;
          animation: loading08-parent 5s infinite;
}
.loading span::after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-text);
  color: #161616;
  opacity: 0;
  -webkit-animation: loading08-child 5s infinite;
          animation: loading08-child 5s infinite;
}
.loading span:nth-child(2)::after {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading span:nth-child(3)::after {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loading span:nth-child(4)::after {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.loading span:nth-child(5)::after {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.loading span:nth-child(6)::after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.loading span:nth-child(7)::after {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.loading span:nth-child(8)::after {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.loading span:nth-child(9)::after {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

@-webkit-keyframes loading08-parent {
  0%, 35%, 100% {
    color: white;
  }
  60%, 80% {
    color: #161616;
  }
}

@keyframes loading08-parent {
  0%, 35%, 100% {
    color: white;
  }
  60%, 80% {
    color: #161616;
  }
}
@-webkit-keyframes loading08-child {
  0% {
    opacity: 1;
  }
  25%, 100% {
    opacity: 0;
  }
}
@keyframes loading08-child {
  0% {
    opacity: 1;
  }
  25%, 100% {
    opacity: 0;
  }
}
@media screen and (max-width: 1439px) {
  .banner-title {
    font-size: 23rem;
  }
  .banner-menu .banner-items p {
    font-size: 5rem;
  }

  .editor .img-last span {
    font-size: 17rem;
    right: 5%;
  }

  .content .content-title {
    font-size: 17rem;
    line-height: 18rem;
  }

  .content-img {
    grid-template-rows: 69.4rem;
  }
  .content-img .img-items {
    width: 53.524rem;
    height: 65.6rem;
  }
  .content-img .img-items:first-child {
    margin-top: 43rem;
  }
  .content-img .img-items:nth-child(3) {
    margin-top: 0;
  }

  .footer {
    margin-top: 10rem;
  }

  .footer-title {
    font-size: 13.4rem;
  }

  .review-title {
    font-size: 20rem;
    line-height: 22.6rem;
  }
  .review-img {
    width: 400px;
    height: 550px;
  }
  .review-img:first-child {
    left: -15rem;
  }
  .review-img:last-child {
    right: -15rem;
  }
}
@media screen and (max-width: 1023px) {
  .banner-title {
    font-size: 18rem;
  }
  .banner-menu {
    padding-top: 5rem;
  }
  .banner-menu .banner-items p {
    font-size: 3rem;
  }
  .banner-menu .banner-items h2 {
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
  }

  .editor-right h1 {
    font-size: 15rem;
    transform: translateY(4rem);
  }
  .editor-img {
    margin: 8rem 0;
  }
  .editor .img-last span {
    font-size: 12rem;
    right: 6%;
    margin-top: 5rem;
  }

  .content .content-title {
    font-size: 14rem;
    line-height: 12rem;
  }

  .content-img {
    grid-template-rows: 38.4rem;
  }
  .content-img .img-items {
    width: 33rem;
    height: 38.6rem;
  }
  .content-img .img-items:first-child {
    margin-top: 27rem;
  }
  .content-img .img-items:nth-child(3) {
    margin-top: 0;
  }
  .content-img .img-items:nth-child(2) {
    margin-left: 2rem;
  }

  .review {
    padding: 5rem 0;
  }
  .review-title {
    font-size: 15rem;
    line-height: 20.6rem;
  }
  .review-img {
    width: 329px;
    height: 420px;
  }
  .review-img:first-child {
    left: -18rem;
  }
  .review-img:last-child {
    right: -18rem;
  }

  .footer {
    margin-top: 2rem;
  }
  .footer .footer-img-items {
    width: 247.97px;
    height: 345.17px;
  }

  .footer-title {
    font-size: 8.4rem;
  }
}
@media screen and (max-width: 767px) {
  .header .item-menu {
    font-size: 1.2rem;
  }
  .header .item-menu h2 {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
  }

  .banner {
    padding: 4rem 0;
  }
  .banner-title {
    font-size: 10rem;
    top: 2rem;
  }
  .banner-menu {
    padding-top: 5rem;
  }
  .banner-menu .banner-items p {
    font-size: 2rem;
  }
  .banner-menu .banner-items h2 {
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
  }

  .editor-right h1 {
    font-size: 8rem;
    transform: translateY(-2rem);
  }
  .editor-img {
    margin: 4rem 0;
  }
  .editor .img-last span {
    font-size: 8rem;
    right: 6%;
    margin-top: -2rem;
  }

  .content .content-title {
    font-size: 9rem;
    line-height: 12rem;
  }

  .content-img {
    grid-template-rows: 28.4rem;
  }
  .content-img .img-items {
    width: 26rem;
    height: 28.6rem;
  }
  .content-img .img-items:first-child {
    margin-top: 14rem;
  }
  .content-img .img-items:nth-child(3) {
    margin-top: 0;
  }
  .content-img .img-items:nth-child(2) {
    margin-left: 1rem;
  }

  .review-title {
    font-size: 10rem;
    line-height: 15.6rem;
  }
  .review-img {
    width: 259px;
    height: 340px;
  }
  .review-img:first-child {
    left: -18rem;
  }
  .review-img:last-child {
    right: -18rem;
  }

  .footer {
    padding: 5rem;
    margin-top: 2rem;
  }
  .footer .footer-img-items {
    width: 247.97px;
    height: 295.17px;
  }

  .footer-title {
    font-size: 6.4rem;
  }
}
@media screen and (max-width: 620px) {
  .content {
    display: none;
  }

  .review-title {
    font-size: 6rem;
    line-height: 8.6rem;
  }
  .review-img {
    width: 190px;
    height: 190px;
  }
  .review-img:first-child {
    left: -13rem;
  }
  .review-img:last-child {
    right: -13rem;
  }

  .editor-right h1 {
    font-size: 3rem;
    transform: translateY(-2rem);
  }
  .editor-img {
    margin: 4rem 0;
  }
  .editor .img-last span {
    font-size: 4rem;
    right: 6%;
    margin-top: -2rem;
  }
}
@media screen and (max-width: 427px) {
  .header .item-menu {
    font-size: 1.2rem;
  }
  .header .item-menu h2 {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
  }

  .banner-menu .banner-items {
    padding: 0 1rem;
  }

  .banner {
    padding: 4rem 0;
  }
  .banner-title {
    font-size: 10rem;
    top: 2rem;
  }
  .banner-menu {
    padding-top: 5rem;
  }
  .banner-menu .banner-items p {
    font-size: 1rem;
  }
  .banner-menu .banner-items h2 {
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=style.css.map */